<?xml version="1.0" ?>
<robot name="nao" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Specify properties needed -->
  <xacro:property name="robotNamespace" value="/nao_dcm"/>
  <!-- <xacro:property name="controlPeriod" value="0.01"/> --> <!-- 100Hz control -->
  <xacro:property name="gazeboControlPeriod" value="true"/>
  <xacro:property name="port" value="9559"/>
  <xacro:property name="modelType" value="NAOH25V40"/>

  <!-- Include modified URDF model -->
  <xacro:include filename="$(find gazebo_naoqi_control)/models/nao.xacro" />
</robot>
